<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Please enter vehicle manufacturer:</span>
    </div>
    <input type="text" class="form-control" aria-describedby="basic-addon3" asp-controller="Offers" asp-action="AddNew"/>
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Please enter vehicle model:</span>
    </div>
    <input type="text" class="form-control" aria-describedby="basic-addon3" asp-controller="Offers" asp-action="AddNew"/>
</div>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Pleaase enter vehicle mileage" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2">лв.</span>
  </div>
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Please enter vehicle mileage:</span>
    </div>
    <input type="text" class="form-control" aria-describedby="basic-addon3" asp-controller="Offers" asp-action="AddNew"/>
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Please enter vehicle mileage:</span>
    </div>
    <input type="text" class="form-control" aria-describedby="basic-addon3" asp-controller="Offers" asp-action="AddNew"/>
</div>