<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Please enter vehicle manufacturer:</span>
    </div>
    <input type="text" class="form-control" aria-describedby="basic-addon3" asp-controller="Offers" asp-action="AddNew"/>
</div>