@using CarOffers.Core.Models
@model OfferInputModel

<form>
    <div>
        <label asp-for="Manufacturer" >Please enter vehicle manufacturer:</label>
        <input asp-for="Manufacturer" type="text" />
    </div>
    <div>
        <label asp-for="Model">Please enter vehicle model:</label>
        <input asp-for="Model" type="text" />
    </div>
    <div>
        <label asp-for="Mileage">Please enter vehicle mileage:</label>
        <input asp-for="Mileage" type="number" />
    </div>
    <div>
        <label asp-for="Year">Please enter vehicle year:</label>
        <input asp-for="Year" type="number" />
    </div>
    <div>
        <label asp-for="Price">Please enter vehicle price:</label>
        <input asp-for="Price" type="text" />
    </div>
    <div>
        <label asp-for="PictureUrl">Please enter vehicle picture URL:</label>
        <input asp-for="PictureUrl" type="text" />
    </div>
    <div>
        <input class="btn btn-danger" type="submit" asp-action="AddNew" asp-controller="Offers" formmethod="post"/>
    </div>
</form>