@using CarOffers.Core.Models
@model List<OfferInputModel>

<ul class="container">
    @foreach (var offer in Model)
    {
        <li class="card mb-3 h-100 w-100">
            <div class="row no-gutters">
                <div class="col-md-4 ">
                    <img class="h-100 w-100" src="@offer.PictureUrl">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </li>
        <br />
    }
</ul>