@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the ultimate car buying app</h1>
    <a class="btn btn-secondary" asp-action="SeeAll" asp-controller="Offers">See all available offers</a>
    <a class="btn btn-danger" asp-action="AddNew" asp-controller="Offers">Add new offer</a>
    <a class="btn btn-danger" asp-action="AddNew" asp-controller="Offers">Add new offer</a>
</div>
