@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the ultimate car buying app</h1>
    <input class="btn-primary" type="button" value="Browse all offers" action=""/>
    <input class=btn-secondary type="button" value="Add new offer" action="/Offers/AddNew"/>
</div>
