<form action="/Offers/AddNew">
    Enter Picure: <input type="text" id="picture"><br>
    Enter Manufacturer: <input type="text" id="manufacturer"><br>
    Enter Model: <input type="text" id="model"><br>
    Enter Price: <input type="text" id="price"><br>
    <input type="submit" value="Submit" formmethod="post"/>
</form>