<h1>Do you want to see all offers, or to add a new offer?</h1>
<button class="btn-info" href="/Offers/SeeAll">See all</button>
<button class="btn-danger" href="/Offers/AddNew">Add new offer</button>

<form action="/Offers/SeeAll">
    <input type="submit" class="btn" value="See All" />
</form>

<form action="/Offers/AddNew">
    <input type="submit" class="btn-info" value="Add new Offer" />
</form>